/* 
Alex Wang
10/26/2023 
*/

/* #welcome {
    background-color: green;
} */

/* h1.heading {
    color: blue;
} */

/* * {
    color: purple;
} */

p {
    /* margin-left: 20px; */
    margin: 50px 50px 50px 50px;
}

body {
    /* background-color: blueviolet;
    opacity: 0.9; */

    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/39/FreeCodeCamp_logo.png") */

}